@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
/* font-family: 'Orbitron', sans-serif; */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash-screen {
  display: flex;
  flex-direction: column;
}

#splash-screen img {
  width: 700px;
  height: 500px;
}


#play-btn {
  font-family: 'Orbitron', sans-serif;
  background: #FFE81F;
	color: black;
	border: none;
	outline: solid 1px black;
  border-radius: 4px;
	padding: 100;
	cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  top: -200px;
  margin: 0 auto;
}

#my-canvas {
  display: none;
}

#canvas-screen {
  display: flex;
  flex-direction: column;
}

#canvas-screen h1 {
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
}

#gameover-screen {
  display: none;
}

#gameover-screen img {
  width: 700px;
  height: 500px;
}

#restart-btn {
  font-family: 'Orbitron', sans-serif;
  background: #FFE81F;
	color: black;
	border: none;
	outline: solid 1px black;
  border-radius: 4px;
	padding: 100;
	cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 350px;
  left: calc(50% - 95px);
}