body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash-screen img {
  width: 700px;
  height: 500px;
}

#my-canvas {
  display: none;
}

#gameover-screen {
  display: none;
}